.card-container {
    display: flex;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin: 0 auto;
    justify-content: center;
}

button {
    margin: 0 auto;
    display: block;
}

.navbar {
    background-color: #e3f2fd;
}

.jumbotron {
    background-color: #FFFFFF;
}

.card {
    border: 1px solid #e3f2fd;
    position: relative;
    margin-bottom: 40px;
}

.fc-button {
    width: 100%;
    margin: auto;
    margin-bottom: 2px;
    display: block;
    background-color: #337ab7;
}

    .fc-button:hover, .fc-button:focus {
        background-color: #245580;
    }

.delete-button {
    width: 100%;
    margin: auto;
    background-color: #363636;
}
    .delete-button:hover {
        background-color: #000000;
    }

.signin-button {
    width: 100%;
    margin: auto;
    margin-bottom: 2px;
    display: block;
    background-color: #337ab7;
}
    .signin-button:hover, .signin-button:focus {
        background-color: #245580;
    }

.flash-card-div {
    width: 250px;
    height: 160px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    border: none;
    margin: 0 auto;
    display: block;
}

.flash-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

    .flash-card div {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 260px;
        color: black;
        text-align: center;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid #929292;
    }

    .flash-card .front {
        background: #FFFFFF;
    }

    .flash-card .back {
        background-image: linear-gradient(45deg, #e3f2fd 25%, #ffffff 25%, #ffffff 50%, #e3f2fd 50%, #e3f2fd 75%, #ffffff 75%, #ffffff 100%);
        background-size: 28.28px 28.28px;
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .flash-card.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Styles for main page login form */
.form-signin {
    width: 95%;
    margin: auto;
}

.open-button {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 30px;
    width: 280px;
    z-index: 9;
}

.form-popup {
    position: fixed;
    bottom: 55px;
    right: 30px;
    z-index: 9;
    width: 280px;
    background-color: #e3e4e5;
    border: 1px solid #337ab7;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.form-hide {
    display: none;
}

#welcomeList {
    list-style: none;
    float: right;
    font-size: 16px;
}
/* End Styles for main page login form */


/* Styles for Sticky Notes on home page */
.notes-li {
    list-style: none;
}

.notes-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky-note {
    text-decoration: none;
    color: #000;
    background: #e3f2fd;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-3deg);
    transition: transform .15s linear;
}

ul.notes-ul li:nth-child(even) a {
    transform: rotate(2deg);
    position: relative;
    top: 5px;
    background: #e3e4e5;
}

ul.notes-ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background-image: linear-gradient(45deg, #e3f2fd 25%, #ffffff 25%, #ffffff 50%, #e3f2fd 50%, #e3f2fd 75%, #ffffff 75%, #ffffff 100%);
    background-size: 28.28px 28.28px;
}

ul.notes-ul li:nth-child(5n) a {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul.notes-ul li.notes-li a:hover, ul.notes-ul li.notes-li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    color: black;
}

ul.notes-ul li.notes-li {
    margin: 1em;
}

/* End Styles Sticky Notes */