h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Seaweed Script';
}

.card-container {
    display: flex;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    margin: 0 auto;
    justify-content: center;
}

button {
    margin: 0 auto;
    display: block;
}

.navbar {
    background-color: #e3f2fd;
}

.jumbotron {
    background-color: #FFFFFF;
}

.card {
    border: 1px solid #000;
    position: relative;
    margin-bottom: 40px;
}

.fc-button {
    width: 100%;
    margin: auto;
    margin-bottom: 2px;
    display: block;
    background-color: #e3f2fd;
    border: 2px solid #000;
    color: #000;
    transition: transform .2s;
}

    .fc-button:hover {
        background-color: #e3e4e5 !important;
        border: 2px solid #000;
        color: #000 !important;
        transform: scale(1.05);
        transition: transform .2s;
    }

.icon-buttons {
    border: none;
    background: none;
    font-size: 25px;
    display: inline;
    transition: transform .2s;
}

    .icon-buttons:hover {
        transform: scale(1.5);
    }


.delete-button {
    width: 100%;
    margin: auto;
    background-color: #363636;
}

    .delete-button:hover {
        background-color: #000000;
    }


.flash-card-div {
    width: 400px;
    height: 250px;
    position: relative;
    border: 1px solid #ccc;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    border: none;
    margin: 0 auto;
    display: block;
}

.flash-card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50%;
}

    .flash-card div {
        display: block;
        height: 100%;
        width: 100%;
        line-height: 260px;
        color: black;
        text-align: center;
        position: absolute;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        border: 1px solid #929292;
    }

    .flash-card .front {
        background: #FFFFFF;
    }

    .flash-card .back {
        background-image: linear-gradient(45deg, #e3f2fd 25%, #ffffff 25%, #ffffff 50%, #e3f2fd 50%, #e3f2fd 75%, #ffffff 75%, #ffffff 100%);
        background-size: 28.28px 28.28px;
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

    .flash-card.flipped {
        -webkit-transform: rotateY( 180deg );
        -moz-transform: rotateY( 180deg );
        -o-transform: rotateY( 180deg );
        transform: rotateY( 180deg );
    }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.form-signin {
    width: 95%;
    margin: auto;
}

.open-button {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 23px;
    right: 30px;
    width: 280px;
    z-index: 9;
}

.form-hide {
    display: none;
}

#welcomeList {
    list-style: none;
    float: right;
    font-size: 16px;
}


/* Styles for Sticky Notes on home page */
.notes-li {
    list-style: none;
}

.notes-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sticky-note {
    text-decoration: none;
    color: #000;
    background: #e3f2fd;
    display: block;
    height: 10em;
    width: 10em;
    padding: 1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transform: rotate(-3deg);
    transition: transform .15s linear;
}

ul.notes-ul li:nth-child(even) a {
    transform: rotate(2deg);
    position: relative;
    top: 5px;
    background: #e3e4e5;
}

ul.notes-ul li:nth-child(3n) a {
    transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background-image: linear-gradient(45deg, #e3f2fd 25%, #ffffff 25%, #ffffff 50%, #e3f2fd 50%, #e3f2fd 75%, #ffffff 75%, #ffffff 100%);
    background-size: 28.28px 28.28px;
}

ul.notes-ul li:nth-child(5n) a {
    transform: rotate(5deg);
    position: relative;
    top: -10px;
}

ul.notes-ul li.notes-li a:hover, ul.notes-ul li.notes-li a:focus {
    box-shadow: 10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position: relative;
    z-index: 5;
    color: black;
}

ul.notes-ul li.notes-li {
    margin: 1em;
}

/* End Styles Sticky Notes */




.container-feed {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #FFF;
}

    .container-feed .row > .col-card {
        display: flex;
        align-items: stretch;
        margin-bottom: 1rem;
    }

.card {
    border-radius: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

    .card > .card-front {
        padding: 20px;
        z-index: 3;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

        .card > .card-front > div {
            align-items: stretch;
            flex-basis: auto;
        }

            .card > .card-front > div.card-thumbnail {
                height: 175px;
            }

            .card > .card-front > div.card-excerpt {
                flex: 1;
            }

            .card > .card-front > div.card-cta {
                height: 40px !important;
                flex: 0;
                align-self: flex-end;
                width: 100%;
                font-weight: bold;
            }


    .card > .card-back {
        top: 0%;
        left: 0%;
        right: 0%;
        bottom: 0%;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        z-index: 1;
    }

.card-back {
    /*background-image: linear-gradient(90deg, #e3f2fd 25%, #ffffff 25%, #ffffff 50%, #e3f2fd 50%, #e3f2fd 75%, #ffffff 75%, #ffffff 100%);
    background-size: 40.00px 40.00px;*/
}

.card > .card-back:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #fff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    content: '';
    z-index: 1;
    transform-origin: bottom;
}

.card:hover > .card-back:after {
    -webkit-transform: scaleY( 0 );
    transform: scaleY( 0 );
}

.card:hover > .card-front h3,
.card:hover > .card-front p,
.card:hover > .card-front a {
    color: #000;
}

.add-new-set {
    border: 2px dashed #000;
    text-align: center;
}

div:hover > .card-btn {
    transform: scale(1.2);
    opacity: 1;
}

.card-btn {
    opacity: 0.8;
    transition: transform .2s;
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
.add-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

    .close:hover {
        background-color: #000;
        color: white;
    }

/* Style the header */
.header {
    background-color: #e3f2fd;
    padding: 30px 40px;
    color: black;
    text-align: center;
}

    /* Clear floats after the header */
    .header:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the input */
#cardFront, #cardBack {
    margin-right: 20px;
    border: none;
    border-radius: 0;
    width: 35%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
.addCardBtn {
    padding: 10px;
    width: 25%;
    background: #000;
    color: #FFF;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
    outline: 2px solid #FFF;
}

    .addCardBtn:hover {
        background-color: #FFF;
        color: #000;
        outline: 2px solid #000;
    }

.back-button {
    border: none;
    background: none;
    float: left;
    font-size: 18px;
}

.remove {
    display: block;
}

.card-gridview {
    border: none;
    width: 100%;
}


    .card-gridview tr {
        position: relative;
        font-size: 18px;
    }


    .card-gridview thead, tbody, tfoot, tr, td, th {
        padding: 12px 8px 12px 5px;
    }
    /* Set all odd list items to a different color (zebra-stripes) */
    .card-gridview tr:nth-child(even) {
        background: #f9f9f9;
    }

/* Darker background-color on hover */
    .card-gridview tr:hover {
        background: #ddd;
    }

    .card-gridview tr:first-of-type:hover {
        background: #FFF;
    }

    .card-gridview tr:last-of-type:hover {
        background: #f9f9f9;
    }

    .card-gridview a {
        display: inline;
    }

    .card-gridview input[type=text] {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

        .card-gridview input[type=text]:focus {
            color: #212529;
            background-color: #fff;
            border-color: #86b7fe;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }

.card-delete-button {
    transition: transform .2s;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

    .card-delete-button:hover {
        transform: scale(1.5);
        cursor: pointer;
        color: blue;
    }

.card-button-update {
    transition: transform .2s;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

    .card-button-update:hover {
        transform: scale(1.5);
        cursor: pointer;
        color: green;
    }

.card-button-cancel {
    transition: transform .2s;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

    .card-button-cancel:hover {
        transform: scale(1.5);
        cursor: pointer;
        color: red;
    }

.card-button-edit {
    transition: transform .2s;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

    .card-button-edit:hover {
        transform: scale(1.5);
        cursor: pointer;
        color: orange;
    }

.grid-paging a {
    background-color: #FFF;
    color: #969696;
    border: 1px solid #969696;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
}

    .grid-paging a:hover {
        background-color: #dddddd;
    }

.grid-paging span {
    background-color: #000;
    color: #FFF;
    border: 1px solid #000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}